# Frontend Configuration
FRONTEND_URL=http://localhost:3000

# Firebase Configuration
FIREBASE_CERT_PATH=healthcare/app/firebase/service_account_key.json
FIREBASE_DATABASE_URL=https://healthcare-website-9afe5.firebaseio.com

# Server Configuration
PORT=5000
DEBUG=True
